<div class="container card m-5 booking p-4">

  <h3>My books bookings</h3>
  <ul>
    <% @bookings.each do |booking| %>
      <li>
        <div class="d-flex justify-content-between">
          <div class="bookings">
            <%= "You asked for the book: #{booking.book.title}, owned by #{booking.book.user.name}, until: #{booking.date}" %>
          </div>

          <div class="buttons">
            <% if booking.accepted == true %>
              <%= link_to "Status: Accepted", book_path(booking.book), class: "btn btn-outline-success mx-4" %>
            <% else %>
              <%= link_to "Status: Pending", book_path(booking.book), class: "btn btn-outline-warning mx-4" %>
            <% end %>
            <%= link_to "Delete", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-secondary" %>
          </div>
        </div>

      </li>
    <% end %>
  </ul>

</div>

<div class="container card m-5 booking p-4">

  <h3>Bookings waiting for approuval</h3>
  <ul>
    <% @owner_bookings.each do |owner_booking| %>
      <li>
        <div class="d-flex justify-content-between">
          <div class="bookings">
            <%= "#{owner_booking.user.name} asked the book: #{owner_booking.book.title}, until: #{owner_booking.date}" %>
          </div>
          <div class="buttons">
            <%= link_to "Accept/Cancel", edit_booking_path(owner_booking), class: "btn btn-outline-secondary" %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

</div>
